.navbar-header{
	padding-bottom: 35px;
}
.navbar navbar-default navbar-static-top{
      
	align-items: center;
	justify-content: space-between;

}
.tab{
	align-items: center;
	justify-content: space-between;
	
}
.logo{
	height: 125px;
	width: 125px;
}
.container{
	align-items: center;
	
}
.navbar-brand{
	height: 55px;
	width: 100%;
}
.nav navbar-nav{
	margin-top: 50px;
}
.dexo{
	padding-top: 20px;
}
.devo{
	padding: 10px 40px;
}
.dexo{
	font-size: 50px;
	color: #407056;
}
.defo{
	height: 500px;
	width: 500px;
	align-items: center;
	display: flex;
}
.demo{
	font-size: 40px;
}

body { 
	-webkit-backface-visibility: hidden;
}
.edit{
	background-color: aliceblue;
}
.vatsa{
	height: 400px;
	
}
#navbar{
	display: flex;
	justify-content: space-between;
	height: 150px;
	width: 100%;
	background-color:lightblue;
	align-items: center;
	position: sticky;
    margin-top:10px;

}
.logon{
	margin: 10px;
	padding: 20px;
	height: 250px;
    width: 300px;
    
    
}
.barelements{
	 display: flex;
	 justify-content: space-around;
	 align-items: center;
	 
	 
}

.navbar-brand{
	height: 50px;
	width: 50px;
}
a{
	padding: 20px;
	font-size: 15px;
	text-decoration: aliceblue;
    text-decoration:double;
	color: aliceblue;
	font-weight: 500;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size-adjust: inherit;
}
.barelements{
	color:chocolate;
	transition: .3s;

}
.content{
	display: flex;
	align-items: center;
	justify-content: space-between;


}
.content li{
	display: flex;

}
#wrapper{
	padding-top: 40px;
	margin-top: 40px;
}
.logo{
	height: 100px;
	width: 200px;
	align-items: center;

	display: flex;
	align-items: center;
	justify-content: space-around;
	
	
}
.logintab{
	padding: 30px 60px;
}
.navbar-header{
	padding-bottom: 20px;
	position: sticky;
}
.container{
	padding: 100px;
	
}

.navbar-brand{
	padding: 50px;
}
.btnk{
    background-color: #0f292f;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btnk:hover{
    transform: scale(1.2);
}
.bts{
	padding: 10px 0 0 100px;
}
.tab{
	position: sticky;
	padding: 20px;
	background-color: #407056;
	
	
}
.slideone{
	height: 80vh;
	width: 100%;
    padding: 10px 50px;


}
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	   -moz-animation-duration: 2s;
	     -o-animation-duration: 2s;
	        animation-duration: 2s;
}



.flash {
	-webkit-animation-name: flash;
	-moz-animation-name: flash;
	-o-animation-name: flash;
	animation-name: flash;
}


.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}


.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}

.swing {
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	-moz-animation-name: swing;
	-o-animation-name: swing;
	animation-name: swing;
}

.wobble {
	-webkit-animation-name: wobble;
	-moz-animation-name: wobble;
	-o-animation-name: wobble;
	animation-name: wobble;
}

.pulse {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;
}


.flip {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flip;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flip;
	-o-backface-visibility: visible !important;
	-o-animation-name: flip;
	backface-visibility: visible !important;
	animation-name: flip;
}


.flipInX {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInX;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInX;
	backface-visibility: visible !important;
	animation-name: flipInX;
}

.flipOutX {
	-webkit-animation-name: flipOutX;
	-webkit-backface-visibility: visible !important;
	-moz-animation-name: flipOutX;
	-moz-backface-visibility: visible !important;
	-o-animation-name: flipOutX;
	-o-backface-visibility: visible !important;
	animation-name: flipOutX;
	backface-visibility: visible !important;
}


.flipInY {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInY;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInY;
	backface-visibility: visible !important;
	animation-name: flipInY;
}


.flipOutY {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipOutY;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipOutY;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipOutY;
	backface-visibility: visible !important;
	animation-name: flipOutY;
}


.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}


.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}


.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}


.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}


.fadeInRight {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	-o-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

.wiggle {
    -webkit-animation-name: wiggle;
    -moz-animation-name: wiggle;
    -o-animation-name: wiggle;
    animation-name: wiggle;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.animated.wiggle {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    -o-animation-duration: 0.75s;
    animation-duration: 0.75s;
}
