.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(img/slides/loginback2.jpg) ;
    height: 100vh;
    width: 100%;
    background-blend-mode: darken;
    filter: blur(0px);
    z-index: -1;
}

.body-content {
    padding-top: 15vh;
    
}

.container {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    background: rgba(138, 162, 164, 0.23);
}

.logo {
    margin-bottom: 0;
    margin-top: 0px;
    padding-top: 0;
}

.logo img {
    width: 100px;
    margin: 0px;
    border-radius: 50px;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-item {
    margin: 5px;
    padding-bottom: 10px;
    display: flex;
}

.form-item label {
    display: block;
    padding: 2px;
    font-size: 20px;
    width: 100px;
}

.form-item #userName {
    width: 320px;
    height: 25px;
    border: 1px solid #151414d4;
  
    color: white;
}

.form-item #password {
    width: 290px;
    height: 25px;
    border: 1px solid  #151414d4;

    color: white;
}
.change{
    background: white;
    /* color: black; */
}
.login {
    font-size: 18.5px;
    width: 30px;
    height: 27px;
    border: 1px solid white;
    margin: auto;
    color: white;
    background: #151414d4;
    cursor: pointer;
}
.login:hover{
    color: black;
    background: #6d6dbf6d;
}

.form-btns {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px 0;
}

.form-btns button {
    margin: auto;
    font-size: 20px;
    padding: 5px 15px;
    border: 2px solid;
    border-radius: 15px;
    color: white;
    background: #178cc6;
    width: 280px;
    cursor: pointer;
}

.other-options {
    margin: auto;
    display: flex;
}

.other-options p {
    text-align: center;
    color: #151414d4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin: 5px 45px;
}

.other-options p:hover {
    color: rgb(31, 31, 36);
}

p {
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #151414d4;
}

.other-option-tab-cover {
    position: relative;
    bottom: 25px;
    left: 25px;
    width: 300px;
    background: rgba(138, 162, 164, 0.23);
    border-radius: 15px;
    display: none;
}
.show{
    display: block;

}

.other-option-tab {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(132, 131, 140, 0.316);
}

.other-option-tab .fb {
    background: #1d1dea2b;
    border: #1d1dea2b;
    border-radius: 25px;
    font-size: 15px;
    color: black;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.other-option-tab .fb:hover {
    color: #151414d4;
}

.other-option-tab .gl {
    background: #bd1f1f52;
    border: #bd1f1f52;
    border-radius: 25px;
    font-size: 15px;
    margin: 5px 0;
    color: black;
    padding: 5px;
    cursor: pointer;
}

.other-option-tab .gl:hover {
    color: #151414d4;
}

.other-option-tab .pr {
    background: #0ca68980;
    border: #0ca68980;
    border-radius: 25px;
    font-size: 15px;
    color: black;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.other-option-tab .pr:hover {
    color: white;
}
.edit{
    color:darkslategrey;
    border-radius: 7px;
    font-size: 35px;

}
.container{
    background-color: white;
}

.signInBtn{
text-align: center;
    color: #151414d4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;

}

p{
color: #0ca68980;
}
